/*HEADER*/
.navbar-brand{ 
    img{
        width: 250px;
        margin-left: 50px;
    }
} 

#navbarNav{
    justify-content: end;
    margin-right: 50px;
}

.navbar{
    background-color: $terceary_color;
}

.nav-link{
    padding: 25px !important;
}
