@import "var-colores";
@import "mixins";
@import "header";
@import "./pages/galeria";
@import "./pages/contacto";
@import "./pages/faq";
@import "./pages/colores";
@import "footer";
@import "media_queries";