/*----FAQ----*/
.faq-tamaño{
    max-width: 800px;
}

@media screen and (max-width:800px){
    .faq-tamaño{
        padding: 0px;
        padding-bottom: 15px;
    }
    .p-5{
        padding: 0 !important;
    }
}